.welcome[_ngcontent-xfg-c175] {
    display:none
}
.appbar-header[_ngcontent-xfg-c186] .action-button.get-tickets-button[_ngcontent-xfg-c186]:not([disabled]) {
    display:none !important
}
.event-register-wrapper {
    display:none !important
}
.ticket-summary {
    display:none !important
}
.subtotal-row {
    display:none !important
}
.total-row {
    display:none !important
}
.success-image {
    display:none !important
}
