.event-register-wrapper {
    display:none !important
}
.ticket-summary {
    display:none !important
}
.subtotal-row {
    display:none !important
}
.total-row {
    display:none !important
}
.ng-tns-c71-29 {
    display:none !important
}
.success-image {
    display:none !important
}
